{% extends "layout.html" %}

{% block content %}
  <h3>Trip Planner</h3>

  <select>
  {% for hotel in templateHotels %}
    <option value='{{hotel.name}}'>{{hotel.name}}</option>
  {% endfor %}
  </select>

  <select>
  {% for restaurant in templateRestaurants %}
    <option value='{{restaurant.name}}'>{{restaurant.name}}</option>
  {% endfor %}
  </select>

  <select>
  {% for activity in templateActivities %}
    <option value='{{activity.name}}'>{{activity.name}}</option>
  {% endfor %}
  </select>

{% endblock %}

