<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}Trip Planner{% endblock %}</title>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/index.css" rel="stylesheet">
  </head>
  <body>
    <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-items">
            <span class="sr-only">Toggle navigation</span> -->
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Trip Planner</a>
        </div>
        <div id="nav-items" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div id="mapholder">
      <div id="map-canvas"></div>
    </div>
    <div class="container content">
      {% block content %}{% endblock %}
    </div>
    <hr/>
    <div id="footer" class="container text-muted">
      Trip Planner by Shane & Andrew
    </div>

    <!-- <script>
     var map;
     function initMap() {
       map = new google.maps.Map(document.getElementById('map'), {
         center: {lat: -34.397, lng: 150.644},
         zoom: 8
       });
     }
   </script> -->
   <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCM_waDuSTY4R4Ff1mf8PYmy8zh7TYOM28&callback=initMap"
   async defer></script> -->
    <script src="jquery/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCM_waDuSTY4R4Ff1mf8PYmy8zh7TYOM28&sensor=true"></script>
    <script src="/staticroutes/mapinit.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>

  </body>
</html>
