body {
  background-color: white; }

#selections {
  width: 80%;
  opacity: 0.8; }

#map-canvas {
  height: 100%;
  width: 100%; }

form {
  margin: auto; }

select {
  width: 60%; }

img {
  width: 100vw;
  opacity: 0.8; }

#trip {
  padding-bottom: 20px; }

.navbar {
  margin-bottom: 0px; }

#full-width-element {
  margin-bottom: 5px; }

#mapholder {
  width: 100%;
  height: 30vw;
  margin-top: 10px;
  border: 5px solid black; }
  @media only screen and (max-width: 768px) {
    #mapholder {
      height: 55vw; } }
